albumentations==0.4.5
appdirs==1.4.3
attrs==19.3.0
black==19.10b0
click==7.1.1
cycler==0.10.0
decorator==4.4.2
entrypoints==0.3
flake8==3.7.9
imageio==2.8.0
imgaug==0.2.6
kiwisolver==1.1.0
matplotlib==3.2.1
mccabe==0.6.1
networkx==2.4
numpy==1.18.2
opencv-python-headless==4.2.0.32
pathspec==0.7.0
Pillow==7.0.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.6
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
regex==2020.2.20
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
toml==0.10.0
torch==1.4.0+cpu
torchvision==0.5.0+cpu
typed-ast==1.4.1
